@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	font-family: arial;
	display: flex;
	flex-direction: column;
	margin:0;
}
html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  
}



/*header for all page start
header for all page start
header for all page start
header for all page start*/
.navbar{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 99;
	background-color: #2F4F4F;
	position:sticky;	
	top:0;
	max-width:100%;
	height: 80px;
	color: white;
	
}
.navbar img{
	width: 130px;
	height: 70px;
	
}

.nav-list{
display: flex;
align-items: center;
}

.nav-list li{
	list-style:none;
	margin:0 20px;	
}

.nav-list a{
	text-decoration: none;
	color:white;
	}

.navbar ul .active a,.navbar ul li a:hover{
	color: #fc0;	
}


.navbar span{
	
	cursor: pointer;
	display: none;		
}

/*header for all page end
header for all page end
header for all page end
header for all page end*/







/*main image content for all page start
main image content for all page start
main image content for all page start
main image content for all page start*/

.main-image{
	width: 80%;
	position: relative;
	margin: 50px auto;
	margin-bottom: 0px;
}

.main-image img{
	width: 100%;
	height: 400px;
	
}
/*main image content for all page end
main image content for all page end
main image content for all page end
main image content for all page end*/




/*footer for all page start
footer for all page start
footer for all page start
footer for all page start*/

.footer{
	width: 100%;	
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 90px;
	background-color: #2F4F4F;
	color: white;
}

.footer-left span{
	padding-left: 10px;
}
.contact-para-space{
	padding-left: 25px;
}

.footer-right ul li a{
text-decoration: none;
color: white;
}
.footer-right ul li{
	padding-bottom: 20px;
}
.footer-right ul{
	padding-left: 10px;
}

.to-top {
	background:black;
	padding-top: 15px;
	color:white;
	position:fixed;
	bottom:50px		;
	right: 50px;
	width: 	50px;
	height:50px;
	text-align: center;
	border-radius:50%;
	cursor:pointer	;
	z-index: 5;
	text-decoration: none;
	opacity: 0;
	/*pointer-events: none;*/
	transition: all .5s;
}
.to-top.active{
	pointer-events: auto;
	opacity:1;
	
}

/*footer for all pages end
footer for all pages end
footer for all pages end
footer for all pages end*/




/*carasol index page image start
carasol index page image start
carasol index page image start
carasol index page image start*/
#outerbox{
	width:80%;
	overflow: hidden;
height: 400px;
margin:50px auto;
margin-bottom: 0px;

}
#sliderbox{
	width: 500%;
	display: flex;
	animation: carasoul 20s linear infinite;
	position: relative;


}
#sliderbox img{
width: 20%;
height: 400px;

}

@keyframes carasoul{

	0%{
		left:0%;
	}
	20%{
		left: 0%;
	}
	25%{
		left: -100%;
	}

	45%{
		left:-100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{/*change in % because last image to not to pause on blank*/
		left: -300%;
	}
	100%{
		left:-400%;
	}
	
}

/*carasol index page image  end
carasol index page image  end
carasol index page image  end
carasol index page image  end*/

/*carasol customer page image start 
carasol customer page image start 
carasol customer page image start 
carasol customer page image start */

.background-customer-scroll{
	width: 100%;
	height: 300px;
	background-color: blue;
	background-image: url('images/customers-main.jpg');
	background-size: 100% 400px;
	-webkit-background-attachment: fixed;
	background-attachment: fixed;
	margin-top: 30px;

}
.background-customer-scroll-design{
	width: 100%;
	height: 300px;
	background-color: rgb(60, 60, 60,0.9);
	position: relative;

}

.background-customer-scroll-design p{
	width: 0ch;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 ;
	font-size:50px;
	font-family: Brush Script MT;
	color: #00cc99;
	animation: customer 8s steps(20) infinite;
	position: absolute;
	left: 35%;
	top: 40%;
	border-right: 3px solid #00cc99;

}
@keyframes customer{
	0%{
		width: 0ch;
		
	}
	50%{
		width: 20ch;
		
	}
}

/*carasol customer page image  end
carasol customer page image  end
carasol customer page image  end
carasol customer page image  end*/

/*carasol contact page image start 
carasol contact page image start 
carasol contact page image start 
carasol contact page image start */


.background-contact-scroll{
	width: 100%;
	height: 300px;
	background-color: blue;
	background-image: url('images/contact-main.jpg');
	background-size: 100% 400px;
	-webkit-background-attachment: fixed;
	background-attachment: fixed;
	margin-top: 30px;

}
.background-contact-scroll-design{
	width: 100%;
	height: 300px;
	background-color: rgb(60, 60, 60,0.9);
position: relative;

}

.background-contact-scroll-design p{
	width: 0ch;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 ;
	font-size:50px;
	font-family: Brush Script MT;
	color: #00cc99;
	animation: contact 8s steps(23) infinite;
	position: absolute;
	left: 35%;
	top: 40%;
	border-right: 3px solid #00cc99;

}
@keyframes contact{
	0%{
		width: 0ch;
		
	}
	50%{
		width: 23ch;
		
	}
}


/*carasol contact page image  end
carasol contact page image  end
carasol contact page image  end
carasol contact page image  end*/

/*carasol distribution page image start 
carasol distribution page image start 
carasol distribution page image start 
carasol distribution page image start */
.background-distribution-scroll{
	width: 100%;
	height: 300px;
	background-color: blue;
	background-image: url('images/distribute-main.jpg');
	background-size: 100% 400px;
	-webkit-background-attachment: fixed;
	background-attachment: fixed;
	margin-top: 30px;

}
.background-distribution-scroll-design{
	width: 100%;
	height: 300px;
	background-color: rgb(60, 60, 60,0.9);
position: relative;

}

.background-distribution-scroll-design p{
	width: 0ch;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 ;
	font-size:50px;
	font-family: Brush Script MT;
	color: #00cc99;
	animation: typing 6s steps(18) infinite;
	position: absolute;
	left: 35%;
	top: 40%;
	border-right: 3px solid #00cc99;

}
@keyframes typing{
	0%{
		width: 0ch;
		
	}
	50%{
		width: 18ch;
		
	}
}
/*carasol distribution page image  end
carasol distribution page image  end
carasol distribution page image  end
carasol distribution page image  end*/


/*Remaining content for index page start
Remaining content for index page start
Remaining content for index page start
Remaining content for index page start*/

.main-content{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: 90%;
	margin: 0 auto;


	/*margin-top: 10px;*/
}
.main-content div{
	padding: 20px;

}

.main-content .content-right div{
	/*flex-basis: 60%;
	/*margin-right: 70px;*/
}
.excellence-img img{
	border:1px solid;
	width: 100%;
	height: auto;
}

.content-right p{
font-family:Verdana;
letter-spacing: 0.8px;	
}
.content-right span{
font-weight:bold;
}
.lower-main-content-heading h2{
	text-align: center;
	color:  #2F4F4F;
}

.text-decoration-h3{

	border-bottom: 2px solid;
	padding-bottom: 20px;
	font-weight: lighter;
}

.lower-main-content-row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-grow: 1;
	
}
.lower-main-content-row div{
	flex-basis: 33.3%;
	/*margin-left: 25px;*/
	
}
.lower-main-content-row h2{
	font-family:verdana;
	font-style:italic;
text-align: center;
color:#2F4F4F;
}

.lower-main-content-row-card{
	display: 	flex;	
	flex-direction: 	column;	

}
.lower-main-content-row-card i{
	align-self: 	center;
	background-color: #2F4F4F;
	color: white;
	font-size: 50px;
	border-radius:50%;
	padding: 15px;
	margin-top: 20px;
}
.lower-main-content-row  p{
text-align: justify;
margin: 0px 30px 10px 30px;
}


.statistic{
	background:#7FFFD4;
	color:#2F4F4F;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lines{
	font-size: 30px;
	color: #2F4F4F;
}

.countertext{
	font-size: 25px;
	
}
.lines p:before{
	background-color: white;
	display: block;
	content: "";
	width: 120px;
	height:2px;
	position: absolute;
	left: 0;
	top: 50%;
}

.statistic-counter{
	
	display: flex;
	justify-content: space-around;
	width: 80%;
	text-align: center;
	padding-bottom: 40px;
	color:#2F4F4F;
}
.count-p{
	width:20%;
	background-color: white;
	border-radius: 10%;

}
.count{
	color:#2F4F4F;
	font-size: 25px;
}

/*Remaining content for index page end
Remaining content for index page end
Remaining content for index page end
Remaining content for index page end*/



/**distributors page remaining content start
distributors page remaining content start
distributors page remaining content start
distributors page remaining content start**/
.capture{
width: 80%;
margin: 0 auto;
display: flex;
}
.capture img{
	width:50%;
}
.company-list{
display: flex;
justify-content: space-around;
width: 80%;
flex-wrap: wrap;
margin: 0 auto;
background-color: #ebe8e1;

}
/**distributors page remaining content end
distributors page remaining content end
distributors page remaining content end
distributors page remaining content end**/




/**customer page remaining content start 
customer page remaining content start 
customer page remaining content start 
customer page remaining content start **/
.main-heading{
	text-align: center;
	font-weight: bolder;
}
.customer-hospital-capture{
width: 80%;
margin: 0 auto;
display: flex;
}
.customer-hospital-capture img{
	width:25%;

}
.retailer-heading{
	width: 80%;
	margin: 0 auto;
}
.retailer-pic{
	width: 80%;
	margin: 0 auto;
	
	display: flex;
	justify-content: space-between;

}
.retailer-pic img{
	width: 45%;

}
/**customer page remaining content end 
customer page remaining content end 
customer page remaining content end 
customer page remaining content end **/


/**contact page remaining content start 
contact page remaining content start 
contact page remaining content start 
contact page remaining content start **/
.contact-main-content{
	width: 80%;
	margin: 30px auto;
	background-color: #ede6d5;
	padding: 40px;
}
.contact-main-content-inner{
	display: flex;
	justify-content: space-between;
}
/**contact page remaining content end 
contact page remaining content end 
contact page remaining content end 
contact page remaining content end **/

@media only screen and (max-width: 	800px){

/*header for all page start
header for all page start
header for all page start
header for all page start*/
	.navbar{
	
	display: flex;
	justify-content: space-between;
}
.navbar span{
	display: inline;	
	margin-right: 50px;
	z-index: 999;
}

ul.nav-list{
	background-color: rgb(60, 60, 60,0.9);
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	padding-top: 80px;
	opacity:0;
	pointer-events: none;	
}
ul.nav-list li{
	padding-top:30px;
}

ul.open-menu{
	opacity:1;
pointer-events: auto;
}
.logo{
	margin-left: 50px;
	z-index: 999;
}

/*header for all page end
header for all page end
header for all page end
header for all page end*/

/*main image content for all page start
main image content for all page start
main image content for all page start
main image content for all page start*/


.main-image img{
	
	height: 300px;
	
}
/*main image content for all page end
main image content for all page end
main image content for all page end
main image content for all page end*/

/*footer for all page start
footer for all page start
footer for all page start
footer for all page start*/
.footer{
	display:flex;
	flex-direction:column;	
	padding-left: 50px 	
}

/*footer for all page end
footer for all page end
footer for all page end
footer for all page end*/

/*index page rmaining start
index page rmaining start
index page rmaining start
index page rmaining start*/
.main-content{
	display:flex;	
	flex-direction: column;	
}
.lower-main-content-row{
display: flex;
flex-direction: column;
}

.lower-main-content-row div{
flex-basis: 100%;
margin-bottom: 10px;
}


/*index page rmaining end
index page rmaining end
index page rmaining end
index page rmaining end*/


/*carasol index page image start
carasol index page image start
carasol index page image start
carasol index page image start*/

#outerbox{
height: 300px;
}
#sliderbox img{

height: 300px;

}

/*carasol index page image end
carasol index page image end
carasol index page image end
carasol index page image end*/

/**distributors page remaining start
distributors page remaining start
distributors page remaining start
distributors page remaining start**/

.capture{
	
display: flex;
flex-direction: column;
}
.capture img{
	width:100%;

}
.company-list{
	flex-direction: column;
		margin: 0 auto;
}

.company-list ul{
margin-top: 0;
margin-bottom: 0;
}
/**distributors page remaining end
distributors page remaining end
distributors page remaining end
distributors page remaining end**/


/*carasol customer page image start start
carasol customer page image start start
carasol customer page image start start
carasol customer page image start start*/

.background-customer-scroll-design p{
	
	left: 7%;
font-size:30px;	

}

/*carasol customer page image  end
carasol customer page image  end
carasol customer page image  end
carasol customer page image  end*/


/*carasol contact page image start start
carasol contact page image start start
carasol contact page image start start
carasol contact page image start start*/

.background-contact-scroll-design p{
	
	left: 6%;
font-size:30px;	

}

/*carasol contact page image  end
carasol contact page image  end
carasol contact page image  end
carasol contact page image  end*/


/*carasol distribution page image start 
carasol distribution page image start 
carasol distribution page image start 
carasol distribution page image start */
.background-distribution-scroll-design p{
	
	left: 7%;
font-size:30px;	

}
/*carasol distribution page image  end
carasol distribution page image  end
carasol distribution page image  end
carasol distribution page image  end*/



/**contact page remaining content start 
contact page remaining content start 
contact page remaining content start 
contact page remaining content start **/

.contact-main-content-inner{
	flex-direction: column;
}
/**contact page remaining content end 
contact page remaining content end 
contact page remaining content end 
contact page remaining content end **/


}


@media only screen and (max-width: 	600px){

/**index page remaining start
index page remaining start
index page remaining start
index page remaining start**/


.statistic-counter{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
}
.count-p{
	margin-bottom: 20px;
	width: 50%; 

}

/**index page remaining end
index page remaining end
index page remaining end
index page remaining end**/
}
