@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	font-family: arial;
	display: flex;
	flex-direction: column;
	margin:0;
}
html {
  scroll-behavior: smooth;
  
}
.navbar{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 99;
	background-color: #2F4F4F;
	position:sticky;	
	top:0;
	max-width:100%;
	height: 80px;
	color: white;
	
}
.navbar img{
	width: 130px;
	height: 70px;
	
}

.nav-list{
display: flex;
align-items: center;
}

.nav-list li{
	list-style:none;
	margin:0 20px;
	
}

.nav-list a{
	text-decoration: none;
	color:white;
	}
.navbar ul .active a,.navbar ul li a:hover{
	color: #fc0;
	
}



.navbar span{
	
	cursor: pointer;
	display: none;		
}

.main-image{
	width: 90%;
	position: relative;
	margin: 50px auto;


}
.slide-on-image{
	background: rgba(255,255,255,0.9);
	position:absolute;
	max-width: 60%;
	height:auto;
	padding: 10px;
	bottom: 10%;
	left: 10%;
}
.slide-on-image h2{
border-bottom: 5px solid;
border-color: blue;
padding-bottom: 10px;
	}
.main-image img{
	width: 100%;
	height: 400px;
	
}

.main-content{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: 90%;
	margin: 0 auto;
	/*margin-top: 10px;*/
}
.main-content div{
	padding: 20px;

}

.main-content .content-right div{
	/*flex-basis: 60%;
	/*margin-right: 70px;*/
}
.excellence-img img{
	border:1px solid;
	width: 100%;
	height: auto;
}

.content-right p{
font-family:Verdana;
letter-spacing: 0.8px;	
}
.content-right span{
font-weight:bold;
}
.lower-main-content-heading h2{
	text-align: center;
	color:  #2F4F4F;
}

.text-decoration-h3{

	border-bottom: 2px solid;
	padding-bottom: 20px;
	font-weight: lighter;
}

.lower-main-content-row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-grow: 1;
	
}
.lower-main-content-row div{
	flex-basis: 33.3%;
	/*margin-left: 25px;*/
	
}
.lower-main-content-row h2{
	font-family:verdana;
	font-style:italic;
text-align: center;
color:#2F4F4F;
}

.lower-main-content-row-card{
	display: 	flex;	
	flex-direction: 	column;	

}
.lower-main-content-row-card i{
	align-self: 	center;
	background-color: #2F4F4F;
	color: white;
	font-size: 50px;
	border-radius:50%;
	padding: 15px;
	margin-top: 20px;
}
.lower-main-content-row  p{
text-align: justify;
margin: 0px 30px 10px 30px;
}

.footer{
	width: 100%;	
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 90px;
	background-color: #2F4F4F;
	color: white;
}

.footer-left span{
	padding-left: 10px;
}
.contact-para-space{
	padding-left: 25px;
}

.footer-right ul li a{
text-decoration: none;
color: white;
}
.footer-right ul li{
	padding-bottom: 20px;
}
.footer-right ul{
	padding-left: 10px;
}

.statistic{
	background:#7FFFD4;
	color:#2F4F4F;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lines{
	font-size: 30px;
	color: #2F4F4F;
}

.countertext{
	font-size: 25px;
	

}
.lines p:before{
	background-color: white;
	display: block;
	content: "";
	width: 120px;
	height:2px;
	position: absolute;
	left: 0;
	top: 50%;
}


.statistic-counter{
	
	display: flex;
	justify-content: space-around;
	width: 80%;
	text-align: center;
	padding-bottom: 40px;
	color:#2F4F4F;
}
.count-p{
	width:20%;
	background-color: white;
	border-radius: 10%;

}
.count{
	color:#2F4F4F;
	font-size: 25px;
}
.to-top {
	background:black;
	padding-top: 15px;
	color:white;
	position:fixed;
	bottom:50px		;
	right: 50px;
	width: 	50px;
	height:50px;
	text-align: center;
	border-radius:50%;
	cursor:pointer	;
	z-index: 5;
	text-decoration: none;
	opacity: 0;
	/*pointer-events: none;*/
	transition: all .5s;
}
.to-top.active{
	pointer-events: auto;
	opacity:1;
	
}



/** management page**/

.management-content{
display: flex;
flex-direction: column;
margin:50px;

}

.management-heading{
	font-size: 30px;
	color:blue;
}

.management-name{
	color: blue;
	
}
/**management page end**/

/**contact page start**/
.contact-content{
	display: flex;
	flex-direction: column;
	margin:30px;
	align-items: center;
}
.contact-content a{
color: white;
text-decoration: none;
background-color: blue;
padding: 10px;
border-radius: 5%;

}
.contact-card{
	display: flex;
	margin:30px;
}

.contact-card div{
	width:33.3%;
	padding: 10px;
	text-align: center;
}
.contact-card h3{
	color:#aec40b;
}
.about-contact-interested{
	text-align: center;
	margin-top: 20px;

}
.about-contact-interested-decoration{
	font-size: 30px;
}
.send-message{
	display: flex;
	justify-content: space-around;
	margin:20px;
}

.send-message div{
	
	width: 50%;
	padding: 20px;

}
.send-message-address{
	text-align: center;
}
..send-message-address img{
	width:100%;
}

.send-message-address span{
	font-size: 25px;
}
.send-message-address br{
	margin: 3px;
}
.send-message-right input{
	width:100%;
	height: 40px;
	
  background-color : #fafbf7;
}
.send-message-right{
	font-size: 20px;
}
.send-message-right span{
	color:#aec40b;
}
/** contact page end**/


/**distributors page start**/
/**
.main-heading{
	text-align: center;
	font-weight: bolder;
}
.distributors-card{
width: 70%;
margin: 0 auto;

display: flex;
justify-content: space-between;
}
.distributors-card div{
 width: 20%;
 text-align: center;
}
.distributors-card div img{
	width: 100%;
	height: 100px;
}
.distributors-names {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	
}
.distributors-names ul{
	margin: 10px auto;
	
	width: 20%;
}**/

.capture{
width: 80%;
margin: 0 auto;
display: flex;
}
.capture img{
	width:50%;
}
.company-list{
display: flex;
justify-content: space-around;
width: 80%;
flex-wrap: wrap;
margin: 0 auto;

}



/**distributors page end**/

/**customer start **/
.main-heading{
	text-align: center;
	font-weight: bolder;
}
.customer-hospital-capture{
width: 80%;
margin: 0 auto;
display: flex;
}
.customer-hospital-capture img{
	width:25%;

}
.retailer-heading{
	width: 80%;
	margin: 0 auto;
}
.retailer-pic{
	width: 80%;
	margin: 0 auto;
	
	display: flex;
	justify-content: space-between;

}
.retailer-pic img{
	width: 45%;

}
/**customer end **/


@media only screen and (max-width: 	800px){

	.navbar{
	
	display: flex;
	justify-content: space-between;
}
.navbar span{
	display: inline;	
	margin-right: 50px;
	z-index: 999;
}

ul.nav-list{
	background-color: rgb(60, 60, 60,0.9);
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	padding-top: 80px;
	opacity:0;
	pointer-events: none;	
}
ul.nav-list li{
	padding-top:30px;
}

ul.open-menu{
	opacity:1;
pointer-events: auto;
}
.logo{
	margin-left: 50px;
	z-index: 999;
}

.main-content{
	display:flex;	
	flex-direction: column;	
}
.lower-main-content-row{
display: flex;
flex-direction: column;
}

.lower-main-content-row div{
flex-basis: 100%;
margin-bottom: 10px;
}
.footer{
	display:flex;
	flex-direction:column;	
	padding-left: 50px 	
}

/**contact page start**/
.contact-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.contact-card div{
width:90%;
}

.send-message{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.send-message div{
	width:90%;
}

.send-message-right input{
	font-size: 16px;
}
/**contact page end**/

/**distributors page start**/

.capture{
	
display: flex;
flex-direction: column;
}
.capture img{
	width:100%;

}
.company-list{
	flex-direction: column;
		margin: 0 auto;
}

.company-list ul{
margin-top: 0;
margin-bottom: 0;
}
/**distributors page end**/


}

@media only screen and (max-width: 	600px){
.statistic-counter{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
}
.count-p{
	margin-bottom: 20px;
	width: 50%; 

}
}
